.header {
  grid-area: head;
  background-color: #ffffffff;
  display: flex;
  justify-content: space-between;
}
.header__name {
  padding-top: 12px;
  margin: 10px;
  font-weight: 800;
  font-size: 20px;
}
.loginBlock {
  margin: 10px;
  padding-top: 12px;
}
.loginBlock a {
  text-decoration: none;
  color: black;
}
