.posts {
  &__item {
    padding: 5px;
    border-bottom: 1px solid #e7e7e7;
  }
  &__item img {
    width: 40px;
    height: 40px;
    margin-right: 25px;
    border-radius: 5px;
  }
  &__info {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
  }
  &__name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__message {
    font-weight: 400;
    font-size: 16px;
  }
  &__likes {
    padding: 5px;
  }
}
