body {
  background-color: #e5e5e5;
  font-family: Inter;
}
.App {
  display: grid;
  grid-template-areas:
    "head head"
    "nav con";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;
  width: 1000px;
  margin: 0 auto;
  background-color: #e5e5e5;
}
.app__wrapper--content {
  grid-area: con;
  border: 1px solid burlywood;
  background-color: #ffffff;
  border-radius: 10px;

  width: 800px;
}
